.navbar{
    margin-top: 3rem;
}
.input-group{
    width: 90%;
}


.form-control{
    background-color: var(--blue);
    border-color: var(--blue-brighter);
    border-left: 0;

}

.form-control::placeholder{
    color: var(--white);
    font-size: 1.2rem;
}

.form-control:focus{
    background-color: var(--blue);
    box-shadow: none;
    border-color: var(--blue-brighter);
    font-size: 1.2rem;
    color: var(--white);
}

.input-group-text{
    background-color: var(--blue);
    border-color: var(--blue-brighter);
    border-right: 0;
    padding-right: 0;
}
